{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col d-flex flex-column align-items-end">
            <div class="d-flex justify-content-center align-items-center btn-edit" data-bss-hover-animate="tada" type="button" onclick="window.location.href = '/'"><span style="color: #100f0f;font-size: 18px;">Add / Edit</span></div>
        </div>
    </div>
    <div class="row">
        
    </div>
</div>
{% endblock %}